body {
    font: menu;
}

button,
select,
input {
    font: inherit;
}

button:not([disabled]):hover:active {
  color: -moz-mac-buttonactivetext;
}
button[default]:not([disabled]):not(:-moz-window-inactive) {
  color: -moz-mac-defaultbuttontext;
}
button[default]:not(:hover):active {
  color: ButtonText;
}

button,
select {
    height: 22px;
}

input[type="checkbox"],
input[type="radio"] {
    height: 16px;
    margin-bottom: 1px;
    margin-top: 1px;
    width: 16px;
}

input[type="number"] {
  padding-inline-end: 4px;
}
