body {
    font: menu;
}

button,
select,
input {
    font: inherit;
}

button:not([disabled]):hover:active {
  color: -moz-mac-buttonactivetext;
}
button[default]:not([disabled]):not(:-moz-window-inactive) {
  color: -moz-mac-defaultbuttontext;
}
button[default]:not(:hover):active {
  color: ButtonText;
}

button,
select {
    height: 22px;
}
