body {
    font-size: initial;
    font: menu;
}

button,
select,
input {
    font: inherit;
}

input[type="checkbox"],
input[type="radio"] {
    height: 16px;
    margin-bottom: 1px;
    margin-top: 1px;
    width: 16px;
}

input[type="number"] {
  padding-inline-end: 4px;
}
