:root {
    --border-color: rgb(225, 225, 225);;
}

*:invalid {
    box-shadow: 0 0 1.5px 1px red;
}

#form {
    display: flex;
    flex-direction: column;
}

#buttons {
    display: flex;
    align-items: center;
    align-self: flex-end;
    margin-block-start: 5px;
}

#buttons > :not(:last-child) {
    margin-inline-end: 5px;
}

#status-line {
    color: graytext;
}


.bridge {
    margin-bottom: 20px;
}

.bridge,
.bridge__loading {
    display: flex;
    flex-direction: column;
}

.bridge__loading {
    align-items: center;
    align-self: center;
    font-size: 1.25em;
    font-weight: 300;
    width: 30%;
}

.bridge__loading progress {
    margin-top: 5px;
    width: 100%;
}

.bridge__info {
    display: flex;
}

.bridge__status {
    align-items: center;
    display: flex;
    flex-basis: min-content;
    flex-direction: column;
    margin-inline-end: 50px;
    margin-inline-start: 25px;
}

.bridge__status-text {
    margin: initial;
    font-weight: 500;
    font-size: 1.5em;
    white-space: nowrap;
}

.bridge__info--not-found .bridge__status {
    flex-direction: row;
}
.bridge__info--found .bridge__status-icon {
    margin-block-end: 5px;
}
.bridge__info--not-found .bridge__status-icon {
    margin-inline-end: 10px;
}
.bridge__info--not-found .bridge__status-text {
    font-weight: normal;
    white-space: normal;
}

.bridge__stats {
    border-collapse: collapse;
    border-spacing: 0;
    width: max-content;
}

.bridge__stats th {
    font-weight: 500;
    padding-inline-end: 10px;
    text-align: end;
    white-space: nowrap;
    vertical-align: top;
}


.category {
    border: initial;
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 5px;
    margin: initial;
    padding: 10px 0;
}

.category:disabled {
    color: graytext;
}

#form > .category {
    border-top: 1px solid var(--border-color);
}

.category > .category {
    padding: 5px 0;
    box-shadow: inset 2px 0 0 0 var(--border-color);
}

.category > .category > .category__name,
.category > .category > .category__description {
    margin-inline-start: 16px;
}

.category__name {
    float: left;
}

.category__name > h2 {
    font-size: 1.15em;
    font-weight: 500;
    margin: initial;
}

.category__description {
    color: graytext;
    margin-top: initial;
    max-width: 60ch;
}

.category__name,
.category__description,
.category .category {
    grid-column: span 2;
}


.option {
    display: contents;
}

.option--inline {
    display: block;
    grid-column-start: 2;
}

.option__label {
    text-align: right;
    display: inline-block;
}

.option > input {
    align-self: center;
    justify-self: flex-start;
    margin-inline-start: initial;
}


.editable-list {
    background-color: -moz-field;
    border: 1px solid var(--border-color);
    color: -moz-fieldtext;
    justify-content: end;
    padding: 5px;
}

.editable-list__view-actions {
    display: flex;
    justify-content: end;
}

.editable-list__view-button,
.editable-list__save-raw-button {

}

.editable-list hr {
    border: initial;
    border-top: 1px solid var(--border-color);
    margin: 5px 0;
}

.editable-list__items {
    display: flex;
    flex-direction: column;
    margin: initial;
    margin-inline-start: -5px;
    padding: initial;
    width: calc(100% + 10px);
}

.editable-list__item {
    align-items: center;
    display: flex;
    height: 2em;
    padding: 0 5px;
}

.editable-list__item:nth-child(even):not(:last-child) {
    background-color: -moz-eventreerow;
}
.editable-list__item:nth-child(odd):not(:last-child) {
    background-color: -moz-oddtreerow;
}

.editable-list__item--selected {
    background-color: -moz-cellhighlight !important;
    color: -moz-cellhighlighttext !important;
}

.editable-list__title {
    flex: 1;
}

.editable-list__edit-field {
    width: -moz-available;
    margin-inline-end: 1em;
}

.editable-list__raw-view {
    max-height: 300px;
    resize: vertical;
    width: 100%;
}

.editable-list__add-button {
    align-self: end;
    margin-top: 5px;
}
