button,
input,
textarea,
.select-wrapper {
    background-color: #474749;
    border: initial;
    border-radius: 2px;
    overflow: hidden;
    color: white;
}
button:not(:disabled):hover,
.select-wrapper:not(:disabled):hover {
    background-color: #505054;
}
button:not(:disabled):hover:active,
.select-wrapper:not(:disabled):hover:active {
    background-color: #5c5c5e;
}

button:disabled,
input:disabled {
    opacity: 0.35;
}

input,
textarea {
    padding: 2px 4px;
}

button:default {
    background-color: var(--blue-60);
    color: white !important;
}
button:default:hover {
    background-color: var(--blue-70);
}
button:default:hover:active {
    background-color: var(--blue-80);
}

.select-wrapper {
    --arrow-width: 20px;
    position: relative;
    display: inline-block;
}
.select-wrapper::after {
    align-items: center;
    content: "▼";
    display: flex;
    height: 100%;
    justify-content: center;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    width: var(--arrow-width);
}
select {
    -moz-appearance: none;
    background: inherit;
    border: initial;
    color: inherit;
    padding-right: var(--arrow-width);
}
option {
    color: white !important;
}
option:disabled {
    color: rgba(255, 255, 255, 0.25) !important;
}
