body {
    background: -moz-dialog;
    color: -moz-dialogtext;
    margin: initial;
    font: message-box;
}

.media-select {
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    margin: 0 1em;
    padding: 0.75em 0;
}

.media-select-dropdown {
    display: inline-block;
    margin: 0 0.5em;
}

.receivers {
    list-style: none;
    margin: initial;
    padding: initial;
}
.receiver {
    column-gap: 0.75em;
    display: grid;
    flex-direction: column;
    grid-template-columns: min-content 1fr min-content;
    grid-template-rows: min-content min-content 1fr;
    grid-template-areas:
        "name name connect"
        "address status connect";
    justify-content: center;
    margin: 0 1em;
    padding: 0.75em 0;
    position: relative;
}


.receiver:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.receiver-name,
.receiver-address {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.receiver-name {
    font-size: 1.1em;
    grid-area: name;
}
.receiver-address {
    color: GrayText;
    grid-area: address;
}
.receiver-status {
    grid-area: status;
}
.receiver-connect {
    align-self: center;
    grid-area: connect;
    justify-self: end;
    min-width: 100px;
    height: 32px;
}
