body {
    background: var(--box-background);
    color: var(--box-color);
    margin: initial;
    font: message-box;
    font-size: 13px;
}

[hidden] {
    display: none !important;
}

@media (prefers-color-scheme: dark) {
    .media-select,
    .receiver:not(:last-child) {
        border-bottom-color: var(--grey-50) !important;
    }
    .receiver__address {
        color: var(--grey-10-a60) !important;
    }
}

.whitelist-suggest {
    align-items: center;
    background-color: var(--blue-50-a30);
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    display: flex;
    font-size: 0.9em;
    gap: 0.5em;
    padding: 0.5em 0.75em;
}
.whitelist-suggest > button {
    --button-background: hsla(0, 0%, 50%, 0.3);
    --button-background-hover: hsla(0, 0%, 30%, 0.3);
    --button-background-active: hsla(0, 0%, 10%, 0.3);
    margin-left: auto;
}

@media (prefers-color-scheme: dark) {
    .whitelist-suggest {
        border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    }
    .whitelist-suggest > button {
        --button-background: hsla(0, 0%, 50%, 0.3);
        --button-background-hover: hsla(0, 0%, 70%, 0.3);
        --button-background-active: hsla(0, 0%, 90%, 0.3);
    }
}

.media-select {
    align-items: baseline;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    display: flex;
    margin: 0 1em;
    padding: 0.75em 0;
}

.media-select__label-cast,
.media-select__label-to {
    display: inline-block;
}
.media-select__label-cast:not(:empty) {
    margin-inline-end: 0.5em;
}
.media-select__label-to:not(:empty) {
    margin-inline-start: 0.5em;
}

.receivers {
    list-style: none;
    margin: initial;
    padding: initial;
}

.receivers__not-found {
    align-items: center;
    display: flex;
    height: 50px;
    justify-content: center;
    padding: 0.75em 1em;
}

.receiver {
    column-gap: 0.75em;
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-template-rows: min-content min-content 1fr;
    grid-template-areas:
        "name connect"
        "address connect";
    justify-content: center;
    margin: 0 1em;
    padding: 0.75em 0;
    position: relative;
}

.receiver:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.receiver__name,
.receiver__address {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.receiver__name {
    font-size: 1.1em;
    grid-area: name;
}
.receiver__address {
    color: GrayText;
    grid-area: address;
}
.receiver__status {
    grid-area: status;
}
.receiver__connect {
    align-self: center;
    grid-area: connect;
    justify-self: end;
    min-width: 100px;
    height: 32px;
}
