body {
    background: rgb(236, 236, 236);
    font: menu;
}

button,
select {
    font: inherit;
}

button:not([disabled]):hover:active {
    color: -moz-mac-buttonactivetext;
}

.receiver__address,
.receiver__status {
    font: message-box;
}

.receiver__connect {
    height: 22px;
}
