
:root.theme-light {
    --page-color: white;
    --text-color-primary: var(--grey-90);
    --text-color-secondary: var(--grey-50);
}
:root.theme-dark {
    --page-color: var(--grey-80);
    --text-color-primary: var(--white-100);
    --text-color-secondary: var(--grey-40);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: initial;
    font-weight: unset;
}

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

:root {
    background-color: var(--page-color);
    color: var(--text-color-primary);
    font-family: "SF Mono";
    font-size: 10px;
    font-weight: lighter;
}

body {
    display: flex;
    margin: initial;
}

.container {
    align-items: center;
    display: grid;
    font-size: 13px;
    margin: auto;
    min-width: 480px;
    grid-row-gap: 2rem;
    grid-template-areas:
        "header preview"
        "description preview"
        "download preview"
        "footer preview";
    grid-template-columns: min-content min-content;
    grid-template-rows: min-content min-content min-content min-content;
    overflow-x: hidden;
    padding: 2rem 6rem;
}

.main {
    display: contents;
}

.main-header {
    align-self: flex-end;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    grid-area: header;
    justify-content: flex-end;
}
.main-content {
    display: contents;
}

.main-title {
    font-size: 5rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
}
.main-subtitle {
    background-color: var(--text-color-secondary);
    color: var(--page-color);
    font-size: 2.75rem;
    padding: 0.25rem 1rem;
    margin-right: -1rem;
}

.description {
    font-size: 1.75rem;
    grid-area: description;
    padding-right: 40px;
    text-align: right;
    width: 45ch;
}
.discription__disclaimer {
    color: var(--text-color-secondary);
    font-size: 0.8em;
}
.discription__prerelease {
    color: var(--red-50);
    font-size: 0.8em;
    font-weight: bolder;
}

.description p {
    margin: 1rem 0;
}


.download {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    grid-area: download;
    position: relative;
}

.download__ext,
.download__app .app-list__app {
    font-size: 0.85em;
}

.app-list {
    align-items: center;
    column-gap: 10px;
    display: grid;
    grid-template-columns: min-content min-content min-content min-content;
    grid-template-rows: min-content min-content;
    margin-top: 1rem;
    row-gap: 5px;
}

.app-list__app {
    cursor: pointer;
    
}

.app-list__label {
    color: var(--text-color-secondary);
    font-size: 1.75rem;
}

.app-list__app-label {
    color: var(--blue-40);
    font-size: 0.8em;
    font-variant: small-caps;
    margin-left: 5px;
    vertical-align: super;
}

.app-list__rpm {
    grid-column-start: 4;
}


.preview {
    grid-area: preview;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    z-index: -1;
}

.preview--bg {
    -webkit-mask-image: linear-gradient(to right, black, transparent);
    mask-image: linear-gradient(to right, black, transparent);
    height: 668px;
    object-fit: cover;
    object-position: left;
    opacity: 0.65;
    width: 500px;
}

.preview--fg {
    align-self: flex-start;
    grid-row-start: 2;
    margin-left: -60px;
    width: 462px;
    position: relative;
}

.footer {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    grid-area: footer;
    justify-content: center;
}

:root.theme-dark .links__github {
    filter: invert(1);
}
