:root {
    --page-color: #1c1b22;
    --text-color-primary: var(--white-100);
    --text-color-secondary: var(--grey-10-a60);
}

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0.75em 0;
    font-size: inherit;
    font-weight: 600;
}

p {
    margin: initial;
}

ul {
    margin: 0.75em 0;
    padding: initial;
}

:root {
    color: var(--text-color-primary);
    --system-font: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol";
    font-family: var(--system-font);
    font-size: 10px;
}

body {
    background-color: var(--page-color);
    display: flex;
    margin: initial;
    position: relative;
    z-index: -1;
}

.disclaimer {
    color: var(--text-color-secondary);
    font-size: 0.85em;
    padding-left: calc(16px + 0.5em);
    position: relative;
}
.disclaimer::before {
    background-image: url("icons/photon_info.svg");
    content: "";
    display: block;
    flex-shrink: 0;
    left: 0;
    height: 16px;
    position: absolute;
    width: 16px;
}
.disclaimer--warning {
    color: var(--yellow-60);
    font-weight: 600;
}
.disclaimer--warning::before {
    background-image: url("icons/photon_warning.svg");
}

.disclaimer--warning a,
.disclaimer--warning a:hover {
    color: var(--yellow-70);
}
.disclaimer--warning a:hover:active {
    color: var(--yellow-80);
}

.container {
    font-size: 1.5rem;
    width: 100%;
}

.container h1 {
    font-size: 2.2rem;
}
.container h2 {
    font-size: 2rem;
}
.container h3 {
    font-size: 1.8rem;
}
.container h4 {
    font-size: 1.6rem;
}
.container h5,
.container h6 {
    font-size: 1.5rem;
}

.site-header {
    align-items: start;
    display: flex;
    flex-direction: column;
    font-family: "SF Mono", var(--system-font);
    margin-top: 2rem;
}
h1.site-header__title {
    font-size: 5rem;
    font-weight: 600;
    margin: initial;
    margin-bottom: 0.5rem;
}
.site-header__subtitle {
    background-color: var(--text-color-secondary);
    color: var(--page-color);
    font-size: 2.2rem;
    margin: initial;
    margin-left: -1rem;
    padding: 0.25rem 1rem;
    text-transform: lowercase;
}

.page-width {
    max-width: 1000px;
    margin: 0 auto;
    padding: 1rem 4rem;
}

.entry {
    display: flex;
    gap: 2rem;
}

.description {
    font-size: 1.65rem;
    max-width: 45rem;
}
.description p:not(:first-child) {
    margin: 1em 0;
}

.download {
    margin-top: 3rem;
    align-items: start;
    display: flex;
    flex-direction: column;
    position: relative;
}

.download__ext,
.download__app {
    font-size: 1.75rem;
    font-weight: 600;
    margin-bottom: 0.5em;
    white-space: nowrap;
}

.download__ext[data-version]::after,
.download__app[data-version]::after {
    content: attr(data-version);
    font-size: 0.75em;
    margin-left: 0.5rem;
    opacity: 0.75;
}

.download__ext::before,
.download__app::before,
.button[data-platform]::before {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    content: "";
    display: block;
}
.button[data-platform]::before {
    height: 16px;
    margin-right: 6px;
    width: 16px;
}
.button.download__ext::before,
.button.download__app::before {
    height: 20px;
    width: 20px;
    margin-right: 8px;
}
.download__ext::before {
    background-image: url("icons/extension_light.svg");
}
.button[data-platform="win"]::before {
    background-image: url("icons/windows.svg");
}
.button[data-platform="mac"]::before {
    background-image: url("icons/apple.svg");
}
.button[data-platform="deb"]::before {
    background-image: url("icons/ubuntu.svg");
}
.button[data-platform="rpm"]::before {
    background-image: url("icons/fedora.svg");
}

h3.download__bridge-header {
    color: var(--text-color-secondary);
    font-size: 1em;
}
.download__bridge-primary {
    display: flex;
    gap: 0.5rem;
}

.download__bridge-all {
    margin-top: 1em;
    display: flex;
    gap: 1rem;
}
.download__bridge-list {
    margin-top: 1em;
    display: flex;
    gap: 1rem;
}
.download__bridge-list > div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.download__bridge-list .button {
    height: 42px;
    white-space: nowrap;
}

.app-tag {
    font-size: 0.8em;
    opacity: 0.5;
    margin-left: 0.5em;
}

.preview {
    align-self: start;
    display: flex;
    flex-wrap: wrap;
    margin-left: -36px;
    margin-right: -4rem;
    margin-top: -72px;
    overflow: hidden;
}

.faqs {
    background-color: #15141a;
    border-width: 0.5rem 0;
    position: relative;
    z-index: 1;
}

.faqs__list {
    list-style: none;
}
.faqs__list-item {
    margin: 1rem 0;
}

.faq {
    border: 2px solid transparent;
    border-radius: 5px;
    background-color: #1c1b22;
    box-sizing: content-box;
    padding: 0 1rem;
}

.faq:target {
    border-color: var(--blue-50) !important;
}

.faq__summary {
    cursor: pointer;
    font-size: 1.1em;
    padding: 1rem;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.faq__summary > h3 {
    display: inline;
    margin: initial;
}

.faq__content {
    overflow-x: auto;
    padding: 1rem;
    padding-top: 0;
}

.faq__content p {
    margin: 1rem 0;
}
.faq__content ul {
    padding-left: 2rem;
}

.faq__content code {
    background-color: var(--grey-10-a10);
    border-radius: 3px;
    white-space: nowrap;
}

.footer {
    padding: 2rem 0;
}

.github-link {
    display: block;
    filter: invert(1);
    margin: 0 auto;
    text-align: center;
}

@media (max-width: 700px) {
    .container {
        display: flex;
        flex-direction: column;
        gap: 0;
        padding: initial;
    }

    .page-width {
        padding: 2rem;
    }

    .entry {
        align-items: center;
        flex-direction: column;
    }

    .site-header,
    .preview {
        order: -1;
    }

    .preview {
        align-self: center;
        margin: initial;
        margin-top: -36px;
    }
    .preview > img {
        max-width: 100%;
    }

    .site-header {
        align-items: center;
        align-self: center;
        height: initial;
        margin-top: 2rem;
    }

    .site-header__subtitle {
        margin-right: initial;
    }

    .description {
        margin-top: -30px;
        max-width: initial;
        width: initial;
    }

    .download__bridge-primary {
        flex-wrap: wrap;
    }
    .download__bridge-all {
        width: 100%;
    }
    .download__bridge-list {
        align-items: start;
        flex-wrap: wrap;
        width: 100%;
    }
    .download__bridge-list > div {
        display: contents;
    }
    .download__bridge-list .button {
        height: 36px;
    }

    .faqs {
        align-self: stretch;
    }

    .faqs__list-item:not(:first-child) {
        border-top: 2px solid var(--grey-60);
        padding-top: 1rem;
    }

    .faq {
        background: initial !important;
        border: initial !important;
        box-shadow: initial !important;
    }

    .faq__summary {
        padding: 0.5rem;
    }

    .faq__content {
        display: flex;
        flex-direction: column;
        padding: 0.5rem;
    }

    .faq__content p {
        margin: 0.5rem 0;
    }

    .faq__content img,
    .faq__content picture {
        display: block;
        float: none !important;
        margin: 0 auto;
        order: 1;
    }

    hr {
        width: 100%;
    }

    .footer {
        margin-bottom: 5rem;
    }
}
