
:root.theme-light {
    --page-color: var(--white-100);
    --text-color-primary: var(--grey-90);
    --text-color-secondary: var(--grey-50);
}
:root.theme-dark {
    --page-color: var(--grey-80);
    --text-color-primary: var(--white-100);
    --text-color-secondary: var(--grey-40);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: initial;
    font-weight: unset;
}

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

:root {
    background-color: var(--page-color);
    color: var(--text-color-primary);
    font-family: "SF Mono";
    font-size: 10px;
    font-weight: lighter;
}

body {
    display: flex;
    margin: initial;
}

.container {
    display: grid;
    font-size: 13px;
    margin: auto;
    margin-top: 10vh;
    min-width: 480px;
    grid-row-gap: 2rem;
    grid-template-areas:
        "header preview"
        "description preview"
        "download preview"
        "footer preview";
    grid-template-columns: min-content min-content;
    grid-template-rows: min-content min-content 1fr min-content;
    overflow-x: hidden;
    padding: 2rem 6rem;
}

.site-header {
    align-self: flex-end;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    grid-area: header;
    justify-content: flex-end;
    margin-top: 5rem;
}

.site-header__title {
    font-size: 5rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
}
.site-header__subtitle {
    background-color: var(--text-color-secondary);
    color: var(--page-color);
    font-size: 2.75rem;
    padding: 0.25rem 1rem;
    margin-right: -1rem;
}

.site-content {
    display: contents;
}

.description {
    font-size: 1.75rem;
    grid-area: description;
    padding-right: 40px;
    text-align: right;
    width: 45ch;
}
.description__disclaimer {
    color: var(--text-color-secondary);
    font-size: 0.8em;
}
.description__prerelease {
    color: var(--red-50);
    font-size: 0.8em;
    font-weight: bolder;
}

.description p {
    margin: 1rem 0;
}


.download {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    grid-area: download;
    margin-top: 1rem;
    position: relative;
}

.download__ext,
.download__app {
    font-size: 1.75rem;
    margin-bottom: 0.5em;
}

.download__app-other {
    margin-top: 1em;
}

.download__app-other > summary {
    cursor: pointer;
    text-align: right;
    margin-bottom: 0.5rem;
}


.app-list {
    display: flex;
    flex-direction: column;
}

.app-list__platform {
    display: contents;
}


.app-list__app:not(.btn) {
    color: var(--blue-50);
    position: relative;
    padding-right: 50px;
    text-decoration: initial;
}

.app-list__app:not(.btn):hover {
    text-decoration: underline;
}

.app-list__app:not(.btn):active {
    color: var(--blue-60);
}

.app-list__app:not(.btn)[data-app-size]::after {
    content: "(" attr(data-app-size) ")";
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    cursor: initial;
    color: var(--text-color-secondary);
}


.app-list--buttons {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
}

.app-list--buttons > *:not(:first-child) {
    margin-left: 1rem;
}

.app-list--buttons .app-list__platform {
    display: flex;
    flex-direction: column;
}

.app-list--buttons .app-list__app {
    cursor: pointer;
}

.app-list--buttons > .app-list__platform > .app-list__app + .app-list__app {
    margin-top: 0.5rem;
}

.app-list--buttons .app-list__app-link {
    display: inline-flex;
}

.app-list--buttons .app-list__app-label {
    color: var(--blue-40);
    font-size: 0.8em;
    font-variant: small-caps;
    margin-left: 0.5em;
    vertical-align: super;
}


.preview {
    grid-area: preview;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    z-index: -1;
}

.preview--bg {
    -webkit-mask-image: linear-gradient(to right, black, transparent);
    mask-image: linear-gradient(to right, black, transparent);
    height: 668px;
    object-fit: cover;
    object-position: left;
    opacity: 0.65;
    width: 700px;
}

.preview--fg {
    align-self: flex-start;
    grid-row-start: 2;
    margin-left: -60px;
    position: relative;
    top: calc(-30px + 1rem);
    width: 462px;
}

.footer {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    grid-area: footer;
    justify-content: center;
}

:root.theme-dark .links__github {
    filter: invert(1);
}
