
:root.theme-light {
    --page-color: var(--grey-10);
    --text-color-primary: var(--grey-90);
    --text-color-secondary: var(--grey-50);
}
:root.theme-dark {
    --page-color: var(--grey-80);
    --text-color-primary: var(--white-100);
    --text-color-secondary: var(--grey-30);
}

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

h1, h2, h3, h4, h5, h6, p {
    margin: initial;
    font-weight: unset;
}

ul {
    margin: initial;
    padding: initial;
}

:root {
    color: var(--text-color-primary);
    --system-font: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-family: var(--system-font);
    font-size: 10px;
}

body {
    background-color: var(--page-color);
    display: flex;
    margin: initial;
    position: relative;
    z-index: -1;
}

.container {
    display: grid;
    font-size: 1.5rem;
    margin: auto;
    margin-top: initial;
    grid-row-gap: 2rem;
    grid-template-areas:
        "header preview"
        "description preview"
        "download preview"
        "faqs faqs"
        "footer footer";
    grid-template-columns: 45rem minmax(0, auto);
    grid-template-rows: min-content minmax(200px, auto) 1fr min-content min-content;
    overflow-x: hidden;
    padding: 2rem;
}

.site-header {
    align-self: flex-end;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    font-family: "SF Mono", var(--system-font);
    grid-area: header;
    justify-content: flex-end;
    margin-top: 5rem;
    height: 105px;
}

.site-header__title {
    font-size: 5rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}
.site-header__subtitle {
    background-color: var(--text-color-secondary);
    color: var(--page-color);
    font-size: 2.5rem;
    padding: 0.25rem 1rem;
    margin-right: -1rem;
}

.site-content {
    display: contents;
}

.description {
    font-size: 1.75rem;
    grid-area: description;
    padding-right: 4rem;
    text-align: right;
    max-width: 45rem;
}
.description__disclaimer {
    color: var(--text-color-secondary);
    font-size: 0.85em;
}
.description__prerelease {
    color: var(--red-50);
    font-size: 0.85em;
    font-weight: bolder;
}

.description p {
    margin: 1rem 0;
}


.download {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    grid-area: download;
    margin-top: 1rem;
    position: relative;
}

.download__ext,
.download__app {
    font-size: 1.75rem;
    margin-bottom: 0.5em;
}

.download__ext[data-version]::after,
.download__app[data-version]::after {
    content: attr(data-version);
    font-size: 0.75em;
    margin-left: 0.5rem;
    opacity: 0.75;
}

.download__app-other {
    margin-top: 1em;
}

.download__app-other > summary {
    cursor: pointer;
    text-align: right;
    margin-bottom: 0.5rem;
}


.app-list {
    display: flex;
    flex-direction: column;
}

.app-list__platform {
    display: contents;
}


.app-list__app:not(.button) {
    color: var(--blue-50);
    position: relative;
    padding-right: 50px;
    text-decoration: initial;
}

.app-list__app:not(.button):hover {
    text-decoration: underline;
}

.app-list__app:not(.button):active {
    color: var(--blue-60);
}

.app-list__app:not(.button)[data-app-size]::after {
    content: "(" attr(data-app-size) ")";
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    cursor: initial;
    color: var(--text-color-secondary);
}


.app-list--buttons {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
}

.app-list--buttons > *:not(:first-child) {
    margin-left: 1rem;
}

.app-list--buttons .app-list__platform {
    display: flex;
    flex-direction: column;
}

.app-list--buttons .app-list__app {
    cursor: pointer;
}

.app-list--buttons > .app-list__platform > .app-list__app + .app-list__app {
    margin-top: 0.5rem;
}

.app-list--buttons .app-list__app-link {
    display: inline-flex;
}

.app-list--buttons .app-list__app-label {
    color: var(--blue-40);
    font-size: 0.8em;
    font-variant: small-caps;
    margin-left: 0.5em;
    vertical-align: super;
}


.preview {
    grid-area: preview;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    z-index: -1;
}

.preview--bg {
    -webkit-mask-image: linear-gradient(to right, black, transparent);
    mask-image: linear-gradient(to right, black, transparent);
    height: 668px;
    object-fit: cover;
    object-position: left;
    opacity: 0.65;
    width: 700px;
}

.preview--fg {
    align-self: flex-start;
    grid-row-start: 2;
    margin-top: 1rem;
}

.preview--fg[src="images/preview-fg_dark.png"],
.preview--fg[src="images/preview-fg_dark@2x.png"],
.preview--fg[src="images/preview-fg_light.png"],
.preview--fg[src="images/preview-fg_light@2x.png"] {
    transform: translate(-55px, -36px);
}


.faqs {
    grid-area: faqs;
    position: relative;
    z-index: 1;
}
.faqs__list {
    list-style: none;
}
.faqs__list-item {
    margin: 1rem 0;
}


.faq {
    box-sizing: content-box;
    
}

.faq:target {
    border-color: var(--blue-50) !important;
}

.faq__summary {
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 600;
    padding: 1rem;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.faq__content {
    max-width: 80rem;
    overflow-x: auto;
    padding: 2rem;
    padding-top: 1rem;
}

.faq__content p {
    margin: 1rem 0;
}
.faq__content ul {
    padding-left: 2rem;
}
.faq__content h3, h4 {
    font-weight: 500;
}

.faq__content code {
    background-color: var(--grey-90-a10);
    border-radius: 3px;
    white-space: pre;
}


:root.theme-dark .faq {
    background-color: #202023;
}
:root.theme-dark .faq[open],
:root.theme-dark .faq:hover {
    border: 5px solid var(--grey-60);
}
:root.theme-dark .faq code {
    background-color: var(--grey-10-a10);
}


.footer {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    grid-area: footer;
    justify-content: center;
    margin-top: 5rem;
}


.links__link-github {
    align-items: center;
    display: flex;
    justify-content: center;
}

:root.theme-dark .links__link-github img {
    filter: invert(1);
}


@media (max-width: 700px) {
    .container {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 0;
        padding: initial;
    }

    .site-content > section {
        padding: 2rem;
    }

    .site-header,
    .preview--fg {
        order: -1;
    }

    .preview--bg {
        display: none;
    }

    .preview--fg {
        align-self: center;
        margin: initial;
        margin-bottom: -50px;
        max-width: 100vw;
        object-fit: cover;
        overflow: visible;
        transform: initial !important;
    }

    .site-header {
        align-items: center;
        align-self: center;
        height: initial;
        margin-top: 2rem;
    }

    .site-header__subtitle {
        margin-right: initial;
        text-align: center;
        width: 100vw;
    }

    .description {
        padding-right: initial;
        text-align: center;
        width: initial;
    }

    .download {
        align-items: center;
        margin: initial;
    }

    .faqs {
        align-self: stretch;
    }

    .faqs__list-item:not(:first-child) {
        border-top: 2px solid var(--grey-60);
        padding-top: 1rem;
    }

    .faq {
        background: initial !important;
        border: initial !important;
        box-shadow: initial !important;
    }

    .faq__summary {
        padding: 0.5rem;
    }

    .faq__content {
        display: flex;
        flex-direction: column;
        padding: .5rem;
    }

    .faq__content p {
        margin: 0.5rem 0;
    }

    .faq__content img,
    .faq__content picture {
        display: block;
        float: none !important;
        margin: 0 auto;
        order: 1;
    }

    hr {
        width: 100%;
    }

    .footer {
        margin-bottom: 5rem;
    }
}
